.table {
    table-layout: fixed;
    overflow: auto;
}

.table th {
    text-align: center;
    color: whitesmoke;
    text-overflow: ellipsis;

}

.table td {
    text-align: center;
    background: #f0f4f9;

    /*display: block;*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.form-group{
    font-size: 18px ;
}


.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad
{margin-top:20px;
}

.error{
    color: #ff0000;
}

/*pagination*/
.paginatorList {
    margin: 2px 6px;
    list-style: none outside none;
    color: #2C3E50;
    display: flex;
    justify-content: center;
}
.paginatorList li {
    float: left;
    padding: 2px 4px;
    font-size: 1.8em;
    color: #556B2F;
}
.paginatorList li a{
    color: #556B2F;
}

li.paginatorCurr {
    font-weight: bold;
    color: #2C3E50;
}
li.paginatorCurr a{
    color: #2C3E50;
}
/*li.paginatorLast {*/
    /*float: none;*/
    /*color: #2C3E50;*/
/*}*/
/*li.paginatorNext {*/
    /*float: none;*/
    /*color: #2C3E50;*/
/*}*/